@font-face {
    font-family: 'Favorit';
    src: URL('font/Favorit-Regular.ttf') format('truetype');
  }
*{
    box-sizing: border-box;
    margin: 0;
}
body{
    min-height: 100vh;
    padding: 40px;
}

header{
    display: flex;
    justify-content: space-between;
}

main{
    display: grid;
    row-gap: 40px;
    height: 90vh;
    align-content: center;
    justify-content: center;
}

h1{
    font-family: 'Favorit', sans-serif;
    font-size: 17rem;
    color: rgb(12, 12, 12);
    text-align: center;
    text-transform: uppercase;
}